@charset "utf-8";
/* CSS Document */

/* media query */
@media only screen and (max-width: 820px) 
{
	.smallpage {
		display:none;
	}
	#ContentText {
		margin-left: 0px; 
	}
}
@media only screen and (min-width: 450px) 
{
	#mainwrapper {
		width: 80%;
	}
}
@media only screen and (max-width: 450px) 
{
	#sponsors img {
		height: 20px;
	}
}

/* Basic page styles */
body {
	background-color:#50baa6;
	margin: 0px;
}
#mainwrapper{
	margin: auto;
	background-color: #FFF;
}

#bannerwrapper{
	margin-top:40px;
	background-color:#020303;
}
#bannerholder{
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
#banner{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

/* Header styles */
header #logo {
	background-color:#2467b8;
	padding: 20px;
	padding-left: 20%;
}
#navwrapper {
	text-align: center;
	width:100%;
	float:left;
	background-color:#FFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}
header #navButton {
	float: none;
	text-decoration: none;
	font-size: 17px;
	color: #000;
	padding: 10px 50px;
	background-color: #FFF;
}
header #navButton:hover {
	background-color: #CCC;
	;
}

.dropdown {
	position: relative;
	display: inline-block;
	float: none;
	padding: 10px 0px;
}
.dropdown:hover .dropdown-content {
	display:block;
	margin: 10px 0px;
}

.dropdown-content {
	display:none;
	position:absolute;
    width: 150px;
	background-color:#FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
	margin-top: 9px; 
	}
.dropdown-content a {
	color:#000;
	text-decoration:none;
	padding: 2px 18px;
    display: block;
	font-size: 17px;
}
.dropdown-content a:hover {background-color: #CCC}

/* Main content styles */
#maincontent {
	padding: 10px 20px 20px 20px;
	background-color: #fff;
}
#maincontent h1 {
	font-size: 30px;
}
#maincontent img {
	max-width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	float:right;
}
#ContentText {
	margin-left: 0px;
	padding-right: 0;
	padding-left: 10px;
	padding-bottom: 0;
}
#SideMenuBar {
	float: left;
	width: 25%;
	min-width: 330px;
}

/* footer styles */
#footerBkg {
	background-color:#013e9a;
	height: 250px;
	padding: 0% 11%;
}
footer h2 {
	font-size: 20px;
	color:#fff
}
#contact{
	width: 50%;
	float:left;
    padding:10px;
	text-align:left;
	color:#FFFFFF
}
#links {
	float:right;
    padding:10px;
	text-align:right;
}
#sponsors {
	float:left;
}

#ContentText #paraClear {
	clear: both;
}